img#yubilogo {
  float: right;
  max-height: 100px;
}

input#otp {
  border: 1px solid #ccc;
  background: #eee;
  padding: 0.5em;
  font-size: medium;
  width: 70%;
  color: #aaa;
  cursor: not-allowed;
}
